header {
    background-color:pink;  
}

header h1 {
    text-align: center;
    font-size: 1.5em;
}

body {    
    font-family: "Montagu Slab";
    background-image: url(../images/sharkfin.gif);    
    background-repeat: repeat;
    background-size: contain;
    background-color:pink;
}

main {
    background-color: white;
    padding: 16px;
    width: 100%;
}

.finstagram-post {
    margin-bottom: 55px;
}

.finstagram-post .user-info img {
    border-radius: 10%;
}

a.photo {
    transition: padding 0.5s;
}

a.photo:hover {
    padding: 10px;
    background-color: turquoise;   
}

@media screen and (min-width: 500px){
    main{width: 450px;}
    header h1{font-size: 2em;}
}